body {
  margin: 0;
  padding: 0%;
}

@font-face {
  font-family: 'Heroes';
  src: local('Heroes'), url('../../fonts/heroesfont/Heroes.ttf');
}

@keyframes slideIn {
  0% {
    transform: translate(-50vw, 0);
  }

  100% {
    transform: translate(78vw, -20vw);
  }
}

@keyframes slideInMedia1 {
  0% {
    transform: translate(-50vw, 0);
  }

  100% {
    transform: translate(41vw, 0);
  }
}

@keyframes slideInMedia2 {
  0% {
    transform: translate(-50vw, 0);
  }

  100% {
    transform: translate(30vw, 0);
  }
}

.card-list {
  display: flex;
  width: 100%;
}

/* container to card random */
.container-card-random {
  width: 100%;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* text to card random */
.card-random-explication {
  text-align: center;
  margin: 40px;
  padding: 15px;
  background-color: rgba(14, 14, 14, 1);
  height: 90px;
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  font-family: Heroes, Roboto, sans-serif;
  color: goldenrod;
  line-height: 35px;
  font-size: 1rem;
}

/* style from choose card challenger */
.card-random {
  text-align: center;
  width: 19vw;
  height: 24vw;
  margin: 2vw;
  background-color: rgb(14, 14, 14);
  padding-bottom: 15px;
  border: 0 black solid;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  transition: 0.3s;
  cursor: pointer;
}

/* style from image card choose challenger */
.card-random img {
  width: 19vw;
  height: 23vw;
}

/* style text choose your challenger */
.card-random h2 {
  font-family: 'Heroes', Arial, Helvetica, sans-serif;
  text-align: center;
  margin: 10px 5px;
  font-size: 1em;
  letter-spacing: 2px;
  overflow-wrap: break-word;
  color: goldenrod;
  line-height: 40px;
}

.container-card-quiz {
  width: 0;
  height: 0;
}

/* style from card challenger */
.card-quiz {
  animation-name: slideIn;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  align-items: center;
  width: 16vw;
  background-color: rgb(14, 14, 14);
  border: 0 black solid;
  border-radius: 10px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  cursor: pointer;
  font-size: 0.7em;
}

.container-card-quiz h3 {
  animation-name: slideIn;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  text-align: center;
  margin-left: 2.5vw;
  font-size: 1.6em;
}

/* style from image challenger */
.card-quiz img {
  width: 16vw;
  height: 18vw;
  border-radius: 10px 10px 0 0;
}

/* style name challenger */
.card-quiz h2 {
  padding: 1.5vw 0 1.5vw 0;
  text-align: center;
  text-transform: uppercase;
  height: auto;
  font-size: 1em;
  font-family: 'Heroes', Arial, Helvetica, sans-serif;
  letter-spacing: 1px;
  color: goldenrod;
}

@media screen and (max-width: 1440px) {
  .card-quiz {
    animation-name: slideInMedia1;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    top: 3vw;
    width: 16vw;
    height: 22vw;
    background-color: rgb(14, 14, 14);
    padding-bottom: 15px;
    border: 0 black solid;
    border-radius: 10px;
    overflow-wrap: break-word;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    cursor: pointer;
    font-size: 0.7em;
  }

  .container-card-quiz h3 {
    animation-name: slideInMedia1;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    text-align: center;
    margin-left: 2.5vw;
    font-size: 1.6vw;
  }

  /* style name challenger */
  .card-quiz h2 {
    text-align: center;
    text-transform: uppercase;
    margin-top: 10px;
    font-size: 0.7em;
  }
}

/* -----------------------------------media portable-------------------------------------- */
@media screen and (max-width: 760px) {
  /* style from card challenger */
  .card-quiz {
    animation-name: slideInMedia2;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    width: 44vw;
    height: 62vw;
    font-size: 0.7em;
  }

  .container-card-quiz h3 {
    animation-name: slideInMedia2;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    margin-left: 5vw;
    font-size: 1.2em;
  }

  /* style from image challenger */
  .card-quiz img {
    width: 44vw;
    height: 48vw;
    border-radius: 10px 10px 0 0;
  }

  /* style name challenger */
  .card-quiz h2 {
    text-align: center;
    text-transform: uppercase;
    margin-top: 10px;
    font-size: 1em;
    overflow-wrap: break-word;
    font-family: 'Heroes', Arial, Helvetica, sans-serif;
    letter-spacing: 1px;
    color: goldenrod;
  }

  /* text to card random */
  .card-random-explication {
    font-size: 0.5rem;
  }

  /* style text choose your challenger */
  .card-random h2 {
    font-family: 'Heroes', Arial, Helvetica, sans-serif;
    text-align: center;
    margin: 10px 5px;
    font-size: 0.6em;
    letter-spacing: 2px;
    overflow-wrap: break-word;
    color: goldenrod;
    line-height: 19px;
  }

  /* style from choose card challenger */
  .card-random {
    text-align: center;
    width: 39vw;
    height: 54vw;
    margin: 2vw;
  }

  /* style from image card choose challenger */
  .card-random img {
    width: 39vw;
    height: 44vw;
  }
}

/* -----------------------------------media landscape-------------------------------------- */
@media screen and (max-height: 460px) {
  /* style from card challenger */
  .card-quiz {
    animation-name: slideInMedia2;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    width: 29vw;
    height: 42vw;
    font-size: 0.7em;
    margin-left: 6vw;
  }

  .container-card-quiz h3 {
    animation-name: slideInMedia2;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    margin-left: 11vw;
    font-size: 1.2em;
  }

  /* style from image challenger */
  .card-quiz img {
    width: 29vw;
    height: 34vw;
    border-radius: 10px 10px 0 0;
  }

  /* style name challenger */
  .card-quiz h2 {
    text-align: center;
    text-transform: uppercase;
    font-size: 1em;
    font-family: 'Heroes', Arial, Helvetica, sans-serif;
    letter-spacing: 1px;
    color: goldenrod;
  }

  /* text to card random */
  .card-random-explication {
    font-size: 0.5rem;
  }

  /* style text choose your challenger */
  .card-random h2 {
    font-family: 'Heroes', Arial, Helvetica, sans-serif;
    text-align: center;
    margin: 10px 5px;
    font-size: 0.6em;
    letter-spacing: 2px;
    color: goldenrod;
    line-height: 19px;
  }

  /* style from choose card challenger */
  .card-random {
    text-align: center;
    width: 29vw;
    height: 38vw;
    margin: 2vw;
  }

  /* style from image card choose challenger */
  .card-random img {
    width: 29vw;
    height: 34vw;
  }
}
