body {
  margin: 0;
  padding: 0%;
}

@keyframes slideIn {
  0% {
    transform: translate(0, 10vw);
  }

  50% {
    transform: translate(35vw, 10vw);
  }

  100% {
    transform: translate(35vw, 10vw);
  }
}

/* style for principal div */
.card-list {
  position: absolute;
  height: 0;
}

/* style from choose card challenger */
.card-random {
  position: relative;
  left: 39vw;
  top: 10vw;
  width: 19vw;
  height: 24vw;
  margin: 2vw;
  background-color: white;
  padding-bottom: 15px;
  border: 0 black solid;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  transition: 0.3s;
  cursor: pointer;
}

/* style from image card choose challenger */
.card-random img {
  width: 19vw;
  height: 23vw;
}

/* style text choose tour challenger */
.card-random h2 {
  text-align: center;
  margin-top: 20px;
  font-size: 1.2em;
  overflow-wrap: break-word;
}

/* style from card challenger */
.card-quiz {
  position: relative;
  animation-name: slideIn;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  top: 1vw;
  left: 40vw;
  width: 16vw;
  height: 22vw;
  margin: 2vw;
  background-color: white;
  padding-bottom: 15px;
  border: 0 black solid;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  cursor: pointer;
}

/* style from image challenger */
.card-quiz img {
  width: 16vw;
  height: 18vw;
}

/* style name challenger */
.card-quiz h2 {
  text-align: center;
  text-transform: uppercase;
  margin-top: 20px;
  font-size: 1.5em;
  overflow-wrap: break-word;
}
