body {
  margin: 0;
  padding: 0%;
}

@font-face {
  font-family: 'Heroes';
  src: local('Heroes'), url('../../fonts/heroesfont/Heroes.ttf');
}

@keyframes slideIn {
  0% {
    transform: translate(0, 10vw);
  }

  50% {
    transform: translate(35vw, 10vw);
  }

  100% {
    transform: translate(35vw, 10vw);
  }
}

.card-list {
  position: absolute;
  height: 0;
}

.card-random {
  position: relative;
  left: 39vw;
  top: 12vw;
  width: 19vw;
  height: 24vw;
  margin: 2vw;
  background-color: rgb(14, 14, 14);
  padding-bottom: 15px;
  border: 0 black solid;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  transition: 0.3s;
  cursor: pointer;
}

.card-random img {
  width: 19vw;
  height: 23vw;
}

.card-random h2 {
  font-family: 'Heroes', Arial, Helvetica, sans-serif;
  text-align: center;
  margin: 20px 5px;
  font-size: 1em;
  letter-spacing: 2px;
  overflow-wrap: break-word;
  color: goldenrod;
}

.card-quiz {
  position: relative;
  animation-name: slideIn;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  top: 3vw;
  left: 40vw;
  width: 16vw;
  height: 22vw;
  margin: 2vw;
  background-color: rgb(14, 14, 14);
  padding-bottom: 15px;
  border: 0 black solid;
  border-radius: 10px;
  overflow-wrap: break-word;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  cursor: pointer;
  font-size: 0.7em;
}

.card-quiz img {
  width: 16vw;
  height: 18vw;
  border-radius: 10px 10px 0 0;
}

.card-quiz h2 {
  text-align: center;
  text-transform: uppercase;
  margin-top: 20px;
  font-size: 1em;
  overflow-wrap: break-word;
  font-family: 'Heroes', Arial, Helvetica, sans-serif;
  letter-spacing: 1px;
  color: goldenrod;
}
