@font-face {
  font-family: 'Heroes';
  src: local('Heroes'), url('../../fonts/heroesfont/Heroes.ttf');
}

body {
  background-size: cover;
  background-image: url('../../img/Background.jpg');
  background-attachment: fixed;
  background-position: center;
  height: 100vh;
}

.quiz {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.quiz_question {
  margin: 40px;
  padding: 15px;
  background-color: rgba(14, 14, 14, 1);
  height: 90px;
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  font-family: Heroes, Roboto, sans-serif;
  color: goldenrod;
  text-align: center;
  line-height: 35px;
  font-size: 1rem;
}

.quiz_answers {
  list-style: none;
  width: 60%;
  height: 250px;
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  cursor: pointer;
}

.quiz_answer {
  padding: 10px;
  margin: 30px;
  width: 300px;
  height: 40px;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.1rem;
  transition: 0.3s;
}

.quiz_answer:hover {
  transform: scale(1.03);
}

.quiz-score h2 {
  font-family: Heroes, Roboto, sans-serif;
  margin: 30px;
}

@media screen and (max-width: 740px) {
  .quiz_question {
    font-size: 0.7rem;
  }

  .quiz_answers {
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
  }

  .quiz_answer {
    margin: 10px;
  }

  .quiz-score h2 {
    margin: 20px;
  }

  .quiz_question {
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 525px) {
  .quiz_question {
    font-size: 0.5rem;
  }
}

@media screen and (max-width: 1266px) {
  .quiz_answers {
    width: 80%;
  }
}

@media screen and (max-width: 960px) {
  .quiz_answers {
    width: 100%;
  }
}

@media screen and (min-width: 1900px) {
  .quiz_answers {
    width: 80%;
  }

  .quiz_answer {
    width: 500px;
    height: 80px;
    border-radius: 90px;
  }
}
