@font-face {
  font-family: 'Heroes';
  src: local('Heroes'), url('../../fonts/heroesfont/Heroes.ttf');
}

body {
  background-size: cover;
  background-image: url('../../img/Background.jpg');
  background-attachment: fixed;
}

.quiz {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.quiz_question {
  margin: 40px;
  padding: 15px;
  background-color: rgba(14, 14, 14, 1);
  height: 90px;
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  font-family: Heroes, Roboto, sans-serif;
  color: goldenrod;
  text-align: center;
  line-height: 35px;
  font-size: 1rem;
}

.quiz_answers {
  list-style: none;
  padding: 0;
  margin-top: 8%;
  width: 50%;
  height: 250px;
  border-radius: 10px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  align-items: center;
  justify-items: center;
  text-align: center;
  color: white;
}

.quiz_answer {
  padding: 10px;
  margin: 10px;
  width: 300px;
  height: 40px;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 1.1rem;
}

.quiz_answers li:nth-child(1) {
  grid-area: 1/1 / 1 / 3;
}

.quiz_answers li:nth-child(2) {
  grid-area: 1/ 3 / 1 / 5;
}

.quiz_answers li:nth-child(3) {
  grid-area: 3/ 1 / 2 / 3;
}

.quiz_answers li:nth-child(4) {
  grid-area: 2 / 3 / 2 / 5;
}

@media screen and (max-width: 695px) {
  .quiz_question {
    font-size: 0.5rem;
  }

  .quiz_answers {
    display: flex;
    flex-direction: column;
  }
}
