body {
  margin: 0;
  padding: 0%;
  background-size: cover;
  background-image: url('../../img/Background.jpg');
  background-attachment: fixed;
}

@font-face {
  font-family: 'Heroes';
  src: local('Heroes'), url('../../fonts/heroesfont/Heroes.ttf');
}

/* Show nbr of characters in search */
.nbrCards-search {
  text-align: center;
  margin-bottom: -2%;
  margin-top: 2%;
}

.nbrCards-search h1 {
  font-size: 1.3rem;
}

.container-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 2%;
}

.card {
  width: 250px;
  margin: 2vw;
  background-color: rgb(41, 40, 40);
  padding-bottom: 15px;
  border: 0 black solid;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  cursor: pointer;
  transition: 0.3s;
}

.card:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  transform: scale(1.05);
}

.card img {
  min-width: 250px;
  height: 300px;
}

.card h2 {
  text-align: center;
  text-transform: uppercase;
  margin-top: 20px;
  font-size: 1em;
  overflow-wrap: break-word;
  font-family: 'Heroes', Arial, Helvetica, sans-serif;
  letter-spacing: 2px;
  color: white;
}

.card:hover h2 {
  color: goldenrod;
}

.cards-btn {
  width: 150px;
  height: 40px;
  border-radius: 20px;
  cursor: pointer;
  font-size: 1rem;
  background: rgb(16, 25, 113);
  background:
    linear-gradient(
      90deg,
      rgba(16, 25, 113, 1) 0%,
      rgba(15, 21, 79, 1) 83%,
      rgba(14, 14, 14, 1) 100%
    );
  color: goldenrod;
  transition: 0.3s;
}

.cards-btn:hover {
  transform: scale(1.1);
}

.good-card:hover {
  background-color: rgba(16, 25, 113, 1);
}

.bad-card:hover {
  background-color: #c80000;
}

.normal-card:hover {
  background-color: #7e7d88;
}

.loader-cardsList {
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 550px) {
  .card {
    width: 150px;
  }

  .card img {
    min-width: 150px;
    height: 180px;
  }

  .card h2 {
    font-size: 0.6em;
  }
}
