.container-filter {
  display: flex;
  justify-content: space-around;
  padding: 1vh;
  background:
    linear-gradient(
      90deg,
      rgba(16, 25, 113, 1) 0%,
      rgba(14, 14, 14, 1) 50%
    );
}

.comics-filter {
  border-radius: 5px;
}
