* {
  margin: 0;
  padding: 0;
  font-size: 1rem;
}

.modal-container,
.modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.modal-background {
  background-color: rgba(0, 0, 0, 0.7);
}

.modal-content {
  position: fixed;
  top: 15%;
  bottom: 15%;
  left: 15%;
  right: 15%;

  /* background-color: #657178;
  background-image: url('https://www.transparenttextures.com/patterns/beige-paper.png'); */
  background-image: url(../../assets/Background.jpg);
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
}

.modal-header {
  background-color: rgba(21, 30, 118);
  color: goldenrod;
  font-style: italic;
  padding: 0.5rem 0;
}

.modal-body {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: aliceblue;
}

.close-modal-button {
  position: absolute;
  border: none;
  padding: 0 9px;
  font-size: 2rem;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  cursor: pointer;
  top: 5px;
  right: 5px;
  color: aliceblue;
}

.modal-stats,
.modal-bio,
.modal-card {
  border-radius: 10px;
  height: 80%;
}

.modal-stats,
.modal-bio {
  background-color: rgba(0, 0, 0, 0.7);
  width: 30%;
}

.modal-img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 10px;
}

.stats-list,
.bio-list {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  list-style-type: none;
  width: 100%;
  height: 87%;
  align-items: center;
}

.modal-header h1,
.modal-stats h1,
.modal-bio h1 {
  text-align: center;
  font-size: 2rem;
}

li {
  font-size: 1.5rem;
}
