* {
  margin: 0;
  padding: 0;
  font-size: 1rem;
}

@font-face {
  font-family: 'Heroes';
  src: local('Heroes'), url('../../fonts/heroesfont/Heroes.ttf');
}

.modal-container,
.modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.modal-background {
  background-color: rgba(0, 0, 0, 0.7);
}

.modal-content {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 15%;
  bottom: 15%;
  left: 15%;
  right: 15%;
  background-image: url(../../img/Background.jpg);
  background-position: center;
  background-size: cover;
}

.modal-content.good-hero {
  box-shadow: rgba(16, 25, 113, 1) 0 10px 15px;
}

.modal-content.bad-hero {
  box-shadow: #c80000 0 15px 20px;
}

.modal-content.neutral-hero {
  box-shadow: #7e7d88 0 15px 20px;
}

.modal-header {
  font-style: oblique;
  font-weight: lighter;
  padding: 0.5rem 0;
  background-color: rgba(21, 30, 118);
  color: gold;
}

.modal-header.good-hero {
  background-color: #101971;
}

.modal-header.bad-hero {
  background-color: #c80000;
}

.modal-header.neutral-hero {
  background-color: #7e7d88;
}

.modal-body {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: rgb(240, 248, 255);
  height: 100%;
}

.close-modal-button {
  position: absolute;
  top: 5px;
  right: 5px;
  border: none;
  border-radius: 50%;
  padding: 0 9px;
  font-size: 2rem;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.2);
  color: aliceblue;
  cursor: pointer;
}

.modal-stats,
.modal-bio,
.modal-card {
  border-radius: 10px;
  height: 80%;
  margin-bottom: 5%;
}

.modal-stats,
.modal-bio {
  background-color: rgba(0, 0, 0, 0.7);
}

.modal-stats {
  width: 20%;
}

.modal-bio {
  width: 40%;
}

.modal-img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 10px;
}

.stats-list,
.bio-list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 87%;
  text-align: center;
}

.modal-header h1,
.modal-stats h1,
.modal-bio h1 {
  font-family: 'Heroes', Arial, Helvetica, sans-serif;
  text-align: center;
}

.modal-header h1 {
  font-size: 1.5rem;
}

.modal-stats h1,
.modal-bio h1 {
  font-size: 1rem;
  letter-spacing: 0.2rem;
  border-bottom: 3mm ridge goldenrod;
}

.stats-list li,
strong {
  font-size: 1.3rem;
}

.bio-list li {
  font-size: 1.05rem;
}

/* select information subtitles with "strong" and stats name with "li:nth-child(odd)" */
strong,
.stats-list li:nth-child(odd) {
  color: goldenrod;
  font-weight: bold;
}

/* ------------------------------------------------------------------- Responsive -------------------------------------------------- */

@media screen and (max-width: 768px) {
  .modal-header h1,
  .modal-container li,
  strong {
    font-size: 0.8rem;
  }

  .modal-body h1 {
    border-bottom: 1mm ridge goldenrod;
    font-size: 0.6rem;
  }

  .modal-body {
    flex-direction: column;
  }

  .modal-stats,
  .modal-bio,
  .modal-card {
    height: auto;
  }

  .modal-stats,
  .modal-bio {
    border-radius: 10px;
    width: 95%;
  }

  .modal-bio {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-bottom: 0.5rem;
  }

  .modal-card {
    width: 40%;
    margin-top: 2%;
  }

  /* making ul list spread horizontally over 3 columns */
  .stats-list {
    display: list-item;
    columns: 3;
    -webkit-columns: 3;
    -moz-columns: 3;
    height: auto;
    padding: 2% 2%;
  }

  .modal-content {
    top: 3%;
    bottom: 3%;
    left: 3%;
    right: 3%;
  }

  .close-modal-button {
    font-size: 2rem;
    background-color: transparent;
    border-radius: 0;
    color: gold;
  }
}
