@font-face {
  font-family: 'Heroes';
  src: local('Heroes'), url('../../fonts/heroesfont/Heroes.ttf');
}

.paragraph-home {
  position: relative;
  left: -20%;
  width: 150%;
  color: goldenrod;
  font-size: 25px;
  font-family: Heroes, Roboto, sans-serif;
  margin-top: 30%;
}

.img {
  display: grid;
  height: 100vh;
  width: 100%;
  grid-template-columns: 50% 50%;
  grid-template-rows: 1fr;
  position: relative;
}

.main-title-home {
  position: absolute;
  color: white;
  z-index: 1000;
  left: 50%;
  top: 10%;
  transform: translate(-50%, -50%);
}

.main-title-home h1 {
  color: goldenrod;
  font-size: 2vw;
  text-shadow: #a50c0c 5px 2px 1px;
  font-family: Heroes, Roboto, sans-serif;
}

.title-home {
  color: white;
  filter: brightness(100%);
  font-size: 3rem;
}

.img-text-left {
  position: relative;
}

.img-left {
  grid-column: 1 / 2;
  height: 100%;
  width: 100%;
  background-image: url('../../img/riddler.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: fill;
  filter: brightness(40%);
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.5s;
}

.text-left {
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.img-text-right {
  position: relative;
}

.img-right {
  grid-column: 2 / 3;
  height: 100%;
  width: 100%;
  background-image: url('../../img/comics.jpeg');
  background-size: cover;
  filter: brightness(40%);
  position: relative;
  top: 0;
  left: 0;
  transition: 0.5s;
}

.text-right {
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

p {
  font-style: italic;
}

#textRight {
  background-color: rgba(0, 0, 0, 0.116);
}

.brightness {
  filter: brightness(100%);
  cursor: pointer;
}
