@font-face {
  font-family: 'Heroes';
  src: local('Heroes'), url('../../fonts/heroesfont/Heroes.ttf');
}

.home-container {
  display: grid;
  height: 100vh;
  width: 100%;
  grid-template-columns: 50% 50%;
  grid-template-rows: 1fr;
  position: relative;
}

.main-title-container {
  position: absolute;
  z-index: 1000;
  left: 50%;
  top: 10%;
  transform: translate(-50%, -50%);
}

.main-title-container h1 {
  color: goldenrod;
  font-size: 2vw;
  text-shadow: #a50c0c 5px 2px 1px;
  font-family: Heroes, Roboto, sans-serif;
}

.img-text-left,
.img-text-right {
  position: relative;
  width: 100%;
}

.left-container {
  grid-column: 1 / 2;
  height: 100%;
  width: 100%;
  background-image: url('../../img/riddler.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: fill;
  filter: brightness(40%);
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.5s;
}

.right-container {
  grid-column: 2 / 3;
  height: 100%;
  width: 100%;
  background-image: url('../../img/comics.jpeg');
  background-size: cover;
  filter: brightness(40%);
  position: relative;
  top: 0;
  left: 0;
  transition: 0.5s;
}

.text-left,
.text-right {
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
}

.subtitles-home {
  color: white;
  filter: brightness(100%);
  font-size: 2.5rem;
  letter-spacing: 5px;
  font-family: Heroes, Roboto, sans-serif;
  font-style: italic;
}

.paragraph-home {
  position: relative;
  margin: 10% 0 auto auto;
  color: goldenrod;
  text-shadow: #330404 5px 2px 1px;
  font-size: 25px;
  font-family: Heroes, Roboto, sans-serif;
  border-radius: 10px;
}

.brightened {
  filter: brightness(100%);
  cursor: pointer;
}
