body {
  background-size: cover;
  background-image: url('./img/Background.jpg');
  background-attachment: fixed;
}

@media screen and (max-height: 415px) {
  body {
    background-size: cover;
  }
}

/* -------------------------------------------------------------------Mini resolution------------------------------------------------------------------------- */

/* @media screen and (max-width: 1080px) {

} */

/* ---------------------------------------------------------------------- Media for phone------------------------------------------------ */

@media screen and (max-width: 720px) {
  body {
    background-size: cover;
  }
}
